<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788826933540-np8ak9hajn381sv57t2t9mceebidnt2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788826933540-np8ak9hajn381sv57t2t9mceebidnt2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788826933540-01dc2umas2i2flj6j5qj6234aktbenmj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAryoyo--UJnol2xwdGogjxvSbRpdPC3BE</string>
	<key>GCM_SENDER_ID</key>
	<string>788826933540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fortunators</string>
	<key>PROJECT_ID</key>
	<string>fortunators-e600b</string>
	<key>STORAGE_BUCKET</key>
	<string>fortunators-e600b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788826933540:ios:0e07188b50f771b6840bb1</string>
</dict>
</plist>